@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap");
@import url(icons/font-awesome/css/fontawesome-all.css);

/*
Template Name: Heaven Maker
Author: Heaven Maker
Designer: Gopal Basnet
Email: basnet.gopal12@gmail.com
 
*/

* {
  outline: none; }

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%; 
}

html {
  position: relative;
  min-height: 100%;
  background: #ffffff; 
}

a:hover, a:focus {
  text-decoration: none; 
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
a.link {
	color: #455a64; 
}
a.link:hover, a.link:focus {
    color: #009efb; 
} 
li{
	list-style: none;
}

/*
Template Name: Heaven Maker
Author: Heaven Maker
Designer: Gopal Basnet
Email: basnet.gopal12@gmail.com
 
*/

.section {
	padding: 40px 0px;
} 
.top-header-section:before {
    content: '';
    background: url(../images/frontend/header-bg.jpg) no-repeat; 
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed; 
}
.overlay-header { 
	background-color: rgba(0, 0, 0, 0.73);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.top-header-section { 
	height: 100%;
	width: 100%;
	padding: 60px 0px;
	position: relative;
}
.top-header-section .logo-head {
	text-align: center;  
	margin: 20px 0px;
}
.top-header-section .logo-head a {
	display: block;
    text-decoration: none; 
    transition: opacity 0.4s;
    will-change: opacity;
}
.top-header-section .logo-head a:hover {
	opacity: 0.6;
} 
.select-service-wrapper .select-service-title {
	font-size: 20px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.6px;
	text-transform: capitalize;
	margin-top: 30px; 
	font-weight: 400;
	margin-bottom: 20px;
}	
.select-service-wrapper .select-service-items-wrapper {
    display: flex;
    justify-content: space-around; 
}  
.select-service-wrapper .select-service-items-wrapper .select-service-items .service-img {
    width: 214px;
    height: 94px;
    padding: 12px;
    background: white;
    border-radius: 15px;
    transition: opacity 0.4s;
    will-change: opacity;
    transition: 0.3s ease all;
} 
.select-service-wrapper .select-service-items-wrapper .select-service-items .service-img:hover {
	opacity: 0.6; 
	cursor: pointer; 
}
.select-service-wrapper .select-service-items-wrapper .select-service-items .service-img a img {
    width: 100%;
    height: 100%; 
}
.select-service-wrapper .select-service-items-wrapper .select-service-items .service-name {
	text-align: center;
	margin-top: 10px;
}
.select-service-wrapper .select-service-items-wrapper .select-service-items .service-name a {
	font-size: 18px;
	font-weight: 400;
	color: #fff; 
    transition: 0.3s ease all;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.select-service-wrapper .select-service-items-wrapper .select-service-items .service-name a:hover {
	cursor: pointer;
	color: #949292;
}
.header-navi {
	border-top: 1px solid #fff;
	margin-top: 30px; 
	padding-top: 20px;
	width: 40%;
}
.header-navi ul {
	display: flex;
	justify-content: center;
}
.header-navi ul li {
	margin-right: 30px;
} 
.header-navi ul li:last-child {
	margin-right: 0px;
}
.header-navi ul li a {
	color: #fff;
	font-size: 18px;
	transition: 0.3s ease all;
	font-weight: 400;
	letter-spacing: 0.6px;
	text-transform: uppercase;
} 
.header-navi ul li a:hover {
	color: #949292;
}
.header-navi ul li a.active {
	color: #949292;
}
.index-first-sec .index-desc h3 {
	font-size: 20px;
	font-weight: 400;
	color: #444;
	font-family: 'Merriweather', serif;
	font-style: italic;
}
.index-first-sec .index-desc h4 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px; 
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.index-first-sec .index-desc .desc-p {
	font-size: 15px;
	font-weight: 400;
	color: #707070; 
	text-align: justify;
}
.director-wrap{
	float: right;
}
.index-first-sec .video-wrapper {
    width: 100%;
    height: 100%; 
    position: relative;
}
.index-first-sec .video-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px; 
}
.video-wrapper .first-sec-overlay {
	background: rgba(62, 61, 61, 0.55);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.index-first-sec .video-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60PX;
    border: 0px; 
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    z-index: 5; 
    display: flex; 
    align-items: center;
    justify-content: center;  
    opacity: 1;
    transition: 0.3s ease all;
}
.index-first-sec .video-wrapper button:hover {
	opacity: 0.6; 
}
.index-first-sec .video-wrapper button .play-button {
	align-items: center; 
    display: flex;
}
.index-first-sec .video-wrapper button .play-button i { 
	font-size: 20px; 
	color: #444;
} 
.custom-close-video {
	position: relative;
} 
.custom-close-video .custom-close { 
	position: absolute;
    top: -15px;
    right: -15px;
    font-size: 20px;
    background: #c10000fc;
    border-radius: 50%; 
    width: 30px;
    height: 30px;
    opacity: 1;
    color: #fff;
    font-weight: 500; 
}
.index-third-sec .team-wrapper .team-title h4 {
	text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}
.index-third-sec .team-wrapper .team-title h4:before {
	width: 120px;
	bottom: -10px;
}
.index-third-sec .team-wrapper .team-title h4:after {
	width: 60px;
	bottom: -20px;
}
.index-third-sec .team-wrapper .team-title h4:after, .index-third-sec .team-wrapper .team-title h4:before { 
    content: "";
    height: 2.5px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%); 
}
.team-wrap-div ul {
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
} 
.team-wrap-div {
    margin-top: 50px;
}
.team-wrap-div ul .team-item {
    background: #fff;
    /*box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); */ 
    position: relative;
    margin-right: 20px;
    padding: 30px; 
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease all; 
    border-radius: 0px;
    border: 1px solid #eee;
} 
.team-wrap-div ul .team-item:last-child {
	margin-right: 0px;
}
.team-wrap-div ul .team-item:hover { 
    box-shadow: 0 4px 68px 0 rgba(0, 0, 0, 0.08); 
}
.team-wrap-div ul .team-item i {
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 22px; 
    margin-bottom: 10px;
}
.team-wrap-div ul .team-item .team-item-des-p {
	font-size: 15px;
	color: #707070; 
	margin-bottom: 20px;
}
.team-wrap-div ul .team-item .team-info {
	display: flex;
	justify-content: flex-start;
	align-items: center; 
}
.team-wrap-div ul .team-item .team-info .team-info-h {
	margin-left: 15px;
}
.team-wrap-div ul .team-item .team-info .team-info-h h4 {
	font-size: 18px;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    margin-bottom: 5px;
}
.team-wrap-div ul .team-item .team-info .team-info-h h5 {
	font-size: 14px;
	color: #707070;
	font-weight: 400;
}
.team-wrap-div ul .team-item .team-info .team-item-img {
	width: 80px;
	height: 80px; 
} 
.team-wrap-div .team-item .team-info .team-item-img img {
	border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid;
    border-color: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
}
.index-fourth-sec .testimonial-wrapper .testimonial-title h4 {
	text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}
.index-fourth-sec .testimonial-wrapper .testimonial-title h4:before {
	width: 120px;
	bottom: -10px;
}
.index-fourth-sec .testimonial-wrapper .testimonial-title h4:after {
	width: 60px;
	bottom: -20px;
}
.index-fourth-sec .testimonial-wrapper .testimonial-title h4:after, .index-fourth-sec .testimonial-wrapper .testimonial-title h4:before{ 
    content: "";
    height: 2.5px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%); 
}
.testimonial-main {
	margin-top: 50px;
	background-image: url('../images/frontend/testimonial/testimonial_bg.jpg');
    width: 100%; 
    background-repeat: no-repeat;
}
.testimonial-bg .owl-item, .testimonial-bg .owl-stage, .testimonial-bg .owl-stage-outer{
	height: 500px;
}
.testimonial-wrapper .testimonial-main .testimonial-bg .item { 
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 500px;
} 
.testimonial-wrapper .testimonial-main .testimonial-bg .item img {
	width: 100%;
}
.testimonial-wrapper .testimonial-main .testimonial-bg .item .testimonial-content {
    background: #fff;
    width: 40%; 
    padding: 40px;
}	
.testimonial-wrapper .testimonial-main .testimonial-bg .item img {
    width: auto;
    height: 500px;
    padding-top: 20px;
}
.testimonial-content .quote-circle {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.testimonial-content .quote-circle i {
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
   	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid #26acb9;
	align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.testimonial-content .testi-content-p {
	font-size: 16px;
	color: #707070;
	margin-bottom: 0px;
}
.testimonial-content .quote-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.testimonial-content .quote-footer:before, .quote-footer:after {
    content: ''; 
    width: 70px;
    height: 2px;
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
}  
.testimonial-content .quote-footer i {
	font-size: 18px;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0px 20px;
}
.testimonial-content .testimonial-author{
	text-align: center; 
}
.testimonial-content .testimonial-author h4{
	font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #444;
}
.testimonial-content .testimonial-author p{
	font-size: 14px;
    font-weight: 400; 
    color: #707070;	
}
.section.index-fifth-sec{
	position: relative;
	padding: 100px 0px;
}
.section.index-fifth-sec:before{
	content: '';
	width: 100%;
	height: 100%;
	background-image: url('../images/frontend/world-maps-02.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;  
	position: absolute;
	top: 0;
	left: 0;
} 
.index-fifth-sec .newsletter-overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.73);
	/*background: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);*/ 
	width: 100%;
	height: 100%;
}
.index-fifth-sec .newsletter-wrapper .newsletter-div-main{
	display: flex;
	align-items: center;
}
.index-fifth-sec .newsletter-wrapper .newsletter-div-main .newsletter-title-p{
	font-size: 30px;
	font-weight: 500; 
	text-transform: uppercase;
	letter-spacing: 0.6px; 
    text-align: center; 
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0px;
}
.index-fifth-sec .newsletter-wrapper .newsletter-div-main .newletter-form-index input{
	height: 46px !important;
}
.index-fifth-sec .newsletter-wrapper .newsletter-div-main  .newletter-form-index .input-group .input-group-append button{
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
	color: #fff;
	border-color: #2973D7;
}
.team-wrap-div .owl-carousel {
	position: relative;
}
.team-wrap-div .owl-carousel .owl-nav .owl-prev {
	position: absolute;
    left: -35px;
    top: 50%; 
    height: 30px;
	width: 30px;
	background: #eee;
	border-radius: 50%;
}
.team-wrap-div .owl-carousel .owl-nav .owl-next {
	position: absolute;
    right: -35px;
    top: 50%; 
    height: 30px;
	width: 30px;
	background: #eee;
	border-radius: 50%;
}
.team-wrap-div .owl-carousel .owl-nav .owl-prev span {
	font-size: 30px;
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 30px;
}
.team-wrap-div .owl-carousel .owl-nav .owl-next span {
	font-size: 30px;
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 30px;
}


/* contact css starts */

.contact-sec .get-touch-wrapper h3 {
	font-size: 25px;
	font-weight: 500;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.contact-sec .get-touch-wrapper h3:before, .contact-sec .get-touch-wrapper h3:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 55px;
    height: 3px; 
    border-radius: 30px;
    background: #2973D7; 
}
.contact-sec .get-touch-wrapper h3:after {
	left: 65px;
    width: 20px;
}
/* .contact-sec .get-touch-wrapper .get-touch-main {

}
.contact-sec .ceo-info-wrapper {
	box-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.08);
	padding: 20px;
} */
.contact-sec .ceo-info-wrapper h3 {
	font-size: 25px;
	font-weight: 500;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.contact-sec .ceo-info-wrapper h3:before, .contact-sec .ceo-info-wrapper h3:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 70px;
    height: 3px; 
    border-radius: 30px;
    background: #2973D7; 
} 
.contact-sec .ceo-info-wrapper h5{
	font-size: 16px;
	color: #444;
	font-weight: 500;
}
.contact-sec .ceo-info-wrapper ul {
	padding-left: 0px;
	box-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.08);
	padding: 20px;
}
.contact-sec .ceo-info-wrapper ul li{
	font-size: 14px;
	color: #707070;
}
.contact-sec .address-wrapper{ 
    box-shadow: 0 4px 15px 3px rgba(0, 0, 0, 0.08); 
    border-radius: 4px;  
    padding: 40px; 
}
.contact-sec .address-wrapper .map-desc h3{
	font-size: 20px;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	text-align: center;
	position: relative;
}
.contact-sec .address-wrapper .map-desc h3:after{
	content: '';
	background: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
	width: 80px;
    height: 2px;
    position: absolute;
    bottom: -8px; 
    left: 35%;
}
.contact-sec .address-wrapper .map-desc ul{
	padding-left: 0px;
	text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}
.contact-sec .address-wrapper .map-desc ul li{
	font-size: 15px;
	font-weight: 500;
	color: #707070;
	margin-bottom: 5px;
} 
.contact-sec .address-wrapper .map-desc ul li:last-child{
	margin-bottom: 0px;
}
.m-t-30{
	margin-top: 30px;
}

/*

.contact-sec .address-wrapper .map-desc i{
	color: #2973D7;
}

*/






.btn-modal-sub {
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: #fff;
    border-color: #2973D7; 
}

.btn-modal-sub:hover {
    background: #707070;
    border-color: #707070; 
    
}

.modal-bg-grad {
    background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
    color: #fff;
    border-color: #2973D7;
    border-radius: 0px;
    text-transform: uppercase;
}

.modal-bg-grad .close span {
    color: #fff;
    opacity: 1;
    font-weight: 400; 
}




/* contact css ends */

/* Footer css starts */
.section-footer {
	padding: 40px 0 0;
}

.contact-wrapper h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
	color: transparent;
	-webkit-background-clip: text;
	position: relative;
}

.footer-service-wrapper {
	padding: 0 0 9% 0;
}

.service-wrapper h3 {
	margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
	background-image: linear-gradient(127deg, #2973D7 0%, #26ACB9 91%);
	color: transparent;
	-webkit-background-clip: text;
	position: relative;
}

.footer-service-wrapper .service-wrapper .service-img {
    width: 214px;
    height: 94px;
    padding: 12px;
    background: rgb(224, 213, 213);
    border-radius: 15px;
    transition: opacity 0.4s;
    will-change: opacity;
	transition: 0.3s ease all;
	margin: 2% 0;
} 
.footer-service-wrapper .service-wrapper .service-img:hover {
	/* opacity: 0.4; */
	background: rgb(131, 124, 124); 
	cursor: pointer; 
}
.footer-service-wrapper .service-wrapper .service-img a img {
    width: 100%;
    height: 100%; 
}

.copyright-section {
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	height: 5rem;
	background: rgb(224, 213, 213);
}

/* Footer css ends */



/* media query starts */

@media only screen and (max-width: 768px) {
	.select-service-wrapper .select-service-items-wrapper{
		display: block;
	}
	.header-navi ul{
		display: block;
		padding-left: 0;
    	text-align: center;
	}
	.top-header-section .logo-head{
		width: 300px;
		text-align: center;
		margin: 0px auto;
	}
	.select-service-wrapper .select-service-items-wrapper .select-service-items .service-img{
		margin: 0px auto;
	} 
	.footer-service-wrapper .service-wrapper .service-img {
		margin: 2px auto;
	}
	.team-wrap-div ul{
		display: block;
		width: 100%;
	}
	.team-wrap-div ul li{
		margin-bottom: 20px;
		margin-right: 0px!important;
	} 
	.testimonial-wrapper .testimonial-main .testimonial-bg .item { 
		display: block; 
		min-height: 500px;
	} 
	.testimonial-bg .owl-item, .testimonial-bg .owl-stage, .testimonial-bg .owl-stage-outer{
		height: auto;
	}
	.testimonial-wrapper .testimonial-main .testimonial-bg .item img {
	    display: none;
	    height: auto; 
	}
	.testimonial-wrapper .testimonial-main .testimonial-bg .item .testimonial-content{
		width: 80%;
		margin: 0px auto;
		margin-top: 20px;
	}
	.header-navi ul li {
		margin-right: 0px;
		margin-bottom: 10px;
	} 
	.select-service-items-wrapper .select-service-items{
		margin-bottom: 10px;
	}
}

/* media query ends */
